<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/> 
    <title>Create a Privacy Policy</title>
</head>

<body>
    
    <h1>Create a Privacy Policy</h1>
    <div class="input_form">
        <form method="POST">
         
            <input type="text" name="company_name" placeholder="Company or Website Name"><br>
            <p>Platforms the privacy policy will be used on(Select all that apply):</p>
            <input type ="checkbox" name="is_website">Online Website <br>
            <input type ="checkbox" name="is_app">Mobile App <br>
            <br>
            <input type ="text" name="web_url" placeholder="Website URL"><br>
            <input type ="text" name="email_addr" placeholder="Email Address"><br>
            <input type ="text" name="tel_number" placeholder="Telephone Number"><br>
            
            <p>Company Address (Recommended)</p>
            <input type="text" name="street_addr" placeholder="Street Address"><br>
            <input type="text" name="zip" placeholder="ZIP"><br>
            <input type="text" name="country" placeholder="Country"><br>
            
            <p>What kind of personal information do you collect from users?</p>

            <input type ="checkbox" name="collects_email">Email address<br>
            <input type ="checkbox" name="collects_name">First and last name<br>
            <input type ="checkbox" name="collects_phone">Phone number<br>
            <input type ="checkbox" name="collects_address">Address, State, Province, ZIP/Postal code, City<br>
            <input type ="checkbox" name="collects_smi">Social Media Information<br>
            <input type ="checkbox" name="collects_others">Others<br>
            
            <p>Check the following that apply:</p>

            <input type="checkbox" name ="has_cookies">Does your website use cookies?<br>

            <input type="checkbox" name ="has_advertisements">Does your app/website contains advertisements?<br>
            <input type="checkbox" name ="has_tracking">Does your app/website contains tracking and/or analytics tools?><br>
            <input type="checkbox" name ="has_payments">Can your users pay for products or services?<br>
            <input type="checkbox" name ="external_links">Does your app/website contain links to external websites?<br>

            <input type="checkbox" name = "collects_u18">Do you collect information from children under the age of 18?<br>
            <input type="checkbox" name = "collects_u13">Do you collect information from children under the age of 13?<br>

            <input type="submit">
            <input type="reset">

            {% for val in page_vars %}
                <p>{{val}} : {{page_vars[val]}}</p>

            {% endfor %}
   
            
        </form>
    </div>
</body>

</html>
