<!doctype html>
{% macro render_list(list_items) %}
<ul>
    {% for item in list_items %}
    <li> {{item}} </li>
    {% endfor %}
</ul>
{% endmacro %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Eoin Leahy">
    <meta name="created" content="2020-01-24">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Privacy Policy</title>
</head>

<body>

        {% set company = data["company_name"] %}
        {% set contact_methods = [data["company_phone_number"], data["company_email"], data["company_address"]] %}

    <div class="section" vocab = "http://w3.org/ns/dpv">
        <h1><span class="dpv:Recipient">{{ company }}</span> Privacy Policy</h1>
        <p>Effective date: {{data["date"]}}</p>
        <p>This privacy policy will explain how our organization uses the personal data we collect from you when you use our website</p>
    </div>
    {#
    <h2>Topics:</h2>
    <ul>
    {% for topic in topics %}
        <li>{{topic}}</li>
    {% endfor %}
    </ul>
    #}

    {% for topic in topics %}
        {% if topic == "What data do we collect?" %}
            {% include 'data.html' %}
     
        {% elif topic == "How will we collect your data?" %}    
            {% include 'collect.html'%}

        {% elif topic == "How will we use your data?" %}
            {% include 'usage.html' %}
            
        {% elif topic == "How do we store your data?" %}
            {% include 'store.html' %}

        {% elif topic == "Cookies" %}
            {% include 'cookies.html' %}    

        {% elif topic == "What are your data protection rights?" %}
            {% include 'rights.html' %}

        {% elif topic == "Changes to our privacy policy" %}
            {% include 'changes.html' %}
    
        {% elif topic == "How to contact us" %}
            {% include 'contact.html' %}

        {% endif %}
    {% endfor %}
    
</body>

</html>
