<article>
    {% set id = "Collect:"+key|replace(' ','') %}
    <div resource = "#{{id}}" typeof="dpv:Collect">
        <h3>Data Source - {{ key }}</h3>
        {% set data = col["PersonalDataCategory"] %}
        {% set purp = col["Purpose"] %}
        {% set proc = col["Processing"] %}
        {% set recip = col["Recipient"] %}
        {% set storeL = col["StorageLocation"] %}
        {% set storeD = col["StorageDuration"] %}

        {% if data|length != 0 %}
            <h4>The data we collect through this method include:</h4>
            <ul>
                {% for item in data %}
                    <li>
                        <span property="dpv:hasPersonalDataCategory" resource="#{{item|replace(' ','')}}">{{item}}</span>
                    </span></li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if purp|length != 0 %}
            <h4>We collect this data for the following purpose(s):</h4>    
            <ul>
                {% for item in purp %}
                    <li>
                        <span property="dpv:hasPurpose" resource="#{{item|replace(' ','')}}">{{item}}</span>
                   </li>
                {% endfor %}
            </ul>
        
        {% endif %}
        {% if proc|length != 0 %}
            <h4>This data is collected to undergo the following processing:</h4>   
            <ul>
                {% for item in proc %}
                    <li>
                        <span property="dpv:hasProcessing" resource="#{{item|replace(' ','')}}">{{item}}</span>
                   </li>
                {% endfor %}
            </ul>
        {% endif %}
        <h4>This data is stored according to the following details:</h4>  
        {% if storeL|length != 0 %}  
            <h5>Storage Location</h5>
            <ul>
                {% for item in storeL %}
                    <li>
                        <span property="dpv:location">{{item}}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if storeD|length != 0 %}  
            <h5>Storage Duration</h5>
            <ul>
                {% for item in storeD %}
                    <li>
                        <span property="dpv:duration">{{item}}</span>
                   </li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if recip|length != 0 %}  
            <h4>This data is shared with the following recipients:</h4>
            <ul>
                {% for item in recip %}
                    <li>
                        <span property="dpv:hasRecipient" resource="#{{item|replace(' ','')}}">{{item}}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</article>