<?xml version="1.0" encoding="UTF-8"?>
<!doctype html>
{% macro render_list(list_items) %}
<ul>
    {% for item in list_items %}
    <li> {{item}} </li>
    {% endfor %}
</ul>
{% endmacro %}

<html xml:lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Eoin Leahy">
    <meta name="created" content="2020-02-13">
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Privacy Policy</title>
</head>
<script src="{{ url_for('static',filename='scripts.js')}}"></script>

<body onload="openPage('Subject')" vocab="http://w3.org/ns/dpv#"  prefix ="dpv: http://w3.org/ns/dpv#">

    {% import "macros.jinja" as macros %}
    {% set controller = data["dataController"] %}
    {% set company = controller["properties"]["name"] %}
    {% set contact_methods = controller["properties"].values() %}

    {% autoescape false %}
        {{controller_markup}}
    {% endautoescape %}
    {% for topic in topics %}
        {% include topic["page"] %}
    {% endfor %}

</body>
</html>