<article>

    {% set purpose = purp["dpv:hasPurpose"] %}
    <h3>{{purpose}}</h3>
    {{ macros.tooltip(dpv, purpose)}}

    <span id="{{purpose|replace(' ','')}}" resource ="#Purpose:{{purpose|replace(' ','')}}" typeof="dpv:Purpose">
        <h4>Personal data required for this purpose: </h4>
        <ul>
            {%for item in purp["dpv:hasPersonalDataCategory"] %}
                <li><span property="dpv:hasPersonalDataCategory" resource="#{{item|replace(' ','')}}">{{item}}</span></li>
            {% endfor %}
        </ul>
        <h4>For this purpose the data must undergo the following processing:</h4>
        <ul>
            {%for item in purp["dpv:hasProcessing"] %}
            <li><span property="dpv:hasProcessing" resource="#{{item|replace(' ','')}}">{{item}}</span></li>
            {% endfor %}
        </ul>
        <h4>The legal basis for this is:</h4>
        <ul>
            {%for item in purp["dpv:hasLegalBasis"] %}
            <li><span property="dpv:hasLegalBasis" resource="#{{item|replace(' ','')}}">{{item}}</span></li>
            {% endfor %}
        </ul>
    </span>
</article>