{% extends "default.html" %}
{%block content %}
    <div id="PurposeView">
        <p>{{company}} collects your data for the following purposes:</p>
        <ul>
            {% for purp in data["dpv:Purpose"] %}
                <li>{{ purp["dpv:hasPurpose"] }}</li>
            {% endfor %}
        </ul>

        {% for purp in data["dpv:Purpose"] %}
            {% include "Purpose-Item.html" %}
        {% endfor %}
    </div>
    <h4>This data is subject to the rights defined <a href="#Rights">here</a>.</h4>
{% endblock %}