<article>
    {% set name = recip["schema:name"] %}
    <span resource="#{{recip['resource']}}" typeof="dpv:Recipient">
        <h3><span property="schema:name">{{name}}</span> - 
        <span property="schema:description">{{recip["schema:description"]}}</span></h3>

        {% if recip["PersonalDataCategory"]|length != 0 %}
            <h4>Data we share with {{name}}:</h4>
            <ul>
                {% for item in recip["PersonalDataCategory"] %}
                    <li><span property="dpv:hasPersonalDataCategory" resource="#{{item|replace(' ','')}}">{{item}}</span></li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if recip["dpv:hasPurpose"]|length != 0 %}
            <h4>We share your data with {{name}} for the following purpose(s)</h4>
            <ul>
                {% for item in recip["dpv:hasPurpose"] %}
                    <li><span property="dpv:hasPurpose" resource="#{{item|replace(' ','')}}">{{item}}</span></li>
                {% endfor %}
            </ul>
        {% endif %}      
        <h4>{{name}}'s contact details are as follows:</h4>
        {% autoescape false %}
            <h4><span property="schema:address">{{recip["schema:address"]|replace("\n","</br>")}}</span></h4>
        {% endautoescape %}
    </span>
</article>